html, body, .stApp {
    font-family: 'Poppins', sans-serif !important;
    font-size: 13px !important;
    zoom: 0.9 !important;
    background-color: #f8f9fa !important;
}
.main .block-container {
    max-width: 900px !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    margin: auto !important;
}
[data-testid="stSidebar"] {
    background-color: #f0f0ff !important;
    width: 300px !important;
    min-width: 300px !important;
    border-right: 2px solid #dee2e6 !important;
}
[data-testid="stSidebar"] img {
    display: block !important;
    width: 210px !important;
    margin: 1rem auto 4rem 2rem !important;
}
.centered-title {
    text-align: center !important;
    font-size: 4rem !important;
    font-weight: 800 !important;
    color: #1d3557 !important;
    font-family: 'Comic Neue', cursive !important;
    margin-bottom: 0.2rem !important;
}
.subtitle {
    text-align: center !important;
    font-size: 1.5rem !important;
    color: #6c757d !important;
    margin-bottom: 2rem !important;
}

/*************************************************************************************** app */
[data-testid="stFileUploader"] {
    background-color: #ffffff;
    border: 2px dashed #5e60ce;
    border-radius: 16px;
    padding: 2.5rem;
    margin: 2rem auto;
    max-width: 600px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    color: #5e60ce;
    text-align: center;
    font-size: 1.1rem;
}
[data-testid="stFileUploader"]:hover {
    box-shadow: 0 0 12px rgba(94, 96, 206, 0.3);
}
.stButton>button big-button {
    background: linear-gradient(135deg, #5e60ce, #7400b8);
    color: white;
    border: none;
    padding: 0.75rem 2rem;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease all;
    margin-top: 1rem;
}
.stButton>button:hover big-button {
    transform: scale(1.03);
    box-shadow: 0 0 10px rgba(116, 0, 184, 0.3);
}

.upload-box {
    background-color: #ffffff;
    border: 2px dashed #5e60ce;
    border-radius: 16px;
    padding: 2.5rem;
    margin: 2rem auto;
    max-width: 600px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    color: #5e60ce;
    text-align: center;
}

.upload-box:hover {
    box-shadow: 0 0 12px rgba(94, 96, 206, 0.3);
}

.stButton > button {
    background: linear-gradient(135deg, #5e60ce, #7400b8);
    color: white;
    border: none;
    padding: 0.75rem 2rem;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease all;
    margin: 0.75rem auto;
    display: block;
}

.stButton > button:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px rgba(116, 0, 184, 0.3);
}

