html, body, .stApp {
    font-family: 'Poppins', sans-serif !important;
    font-size: 13px !important;
    zoom: 0.9 !important;
    background-color: #f8f9fa !important;
}
.main .block-container {
    max-width: 900px !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    margin: auto !important;
}
[data-testid="stSidebar"] {
    background-color: #f0f0ff !important;
    width: 300px !important;
    min-width: 300px !important;
    border-right: 2px solid #dee2e6 !important;
}
[data-testid="stSidebar"] img {
    display: block !important;
    width: 210px !important;
    margin: 1rem auto 4rem 2rem !important;
}
.centered-title {
    text-align: center !important;
    font-size: 4rem !important;
    font-weight: 800 !important;
    color: #1d3557 !important;
    font-family: 'Comic Neue', cursive !important;
    margin-bottom: 0.2rem !important;
}
.subtitle {
    text-align: center !important;
    font-size: 1.5rem !important;
    color: #6c757d !important;
    margin-bottom: 2rem !important;
}

/*************************************************************************************** app */
[data-testid="stTextInput"] > div {
  display: flex;
  justify-content: center;
}

[data-testid="stTextInput"] {
  background-color: #ffffff !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05) !important;
  border: 0.5px solid #5e60ce !important;
  border-radius: 10px !important;
  padding: 1.8rem 1rem !important;
  font-size: 3rem !important;
  font-weight: 500 !important;
  color: #333 !important;
  max-width: 700px !important;
  margin: 0 auto !important;
}

[data-testid="stTextInput"]:hover {
  border-color: #7400b8 !important;
  box-shadow: 0 0 8px rgba(94, 96, 206, 0.2) !important;
}


[data-testid="stFileUploader"] {
    background-color: #ffffff !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05) !important;
    border: 0.5px solid #5e60ce !important;
    border-radius: 16px !important;
    padding: 1.8rem !important;
    margin: 0 auto !important; 
    max-width: 700px !important;
    color: #5e60ce !important;
    text-align: center !important;
    font-size: 1rem !important;
}
[data-testid="stFileUploader"]:hover {
    box-shadow: 0 0 12px rgba(94, 96, 206, 0.3) !important;
}

.stButton {
  display: flex !important;
  justify-content: center !important;
}

.stButton > button {
  background-color: #5e60ce !important;
  color: white !important;
  padding: 0.8rem 3rem !important;
  border-radius: 10px !important;
  font-weight: 700 !important;
  font-size: 1.1rem !important;
  border: none !important;
  margin-top: 3rem !important;
  cursor: pointer !important;
  min-width: 220px !important;
}

.stButton > button:hover {
  transform: scale(1.03) !important;
  box-shadow: 0 0 10px rgba(116, 0, 184, 0.3) !important;
  color: white !important;
}


.download-button button {
  background-color: #e0e0ff !important;
  color: #333 !important;
  padding: 0.5rem 1rem !important;
  border-radius: 8px !important;
  font-size: 1rem !important;
  border: 1px solid #5e60ce !important;
  margin-top: 0.5rem !important;
  cursor: pointer !important;
}
.download-button button:hover {
  background-color: #d6d6ff !important;
  border-color: #3b3d9f !important;
}

